.nav {
  width: 260px;
  flex: none;
  height: 100%;
}

.logo {
  width: calc(100% - 4vh);
  aspect-ratio: 1;
  max-width: 240px;
  margin: 2vh;
  margin-top: calc(2vh + 8px);
  border-radius: 200px;
}

.navButton {
  margin-bottom: 4px;
  margin-right: 4px;

  transition: color 0.5s;
}

.contactButtons {
  width: 80%;
  justify-content: center;
}

.contactButton {
  margin-left: 0.5vh;
  margin-right: 0.5vh;
  color: #ff9f79;

  transition: color 0.5s;
}

.navButton:hover, .contactButton:hover {
  cursor: pointer;
  color: #f5e0d4;

  transition: color 0.1s;
}