:root {
  --bg: #2b1018;
  --brown: #86716a;
  --gold: #ffbc90;
  --salmon: #ff9d90;
  --darkSalmon: #a0483c;
  --leaf: #cad683;
  --avocado: #b1e064;
  --sky: #0085c7;
  --coffee: #4d281f;
  --cream: rgb(255, 239, 229);
  --banana: #f5e0d4;

  --firehouse: #da3633;
  --coal: #413b3a;
  --tan: #a8895a;
  --toast: #b75a43;
  --trToast: #b75a4386;
  --trFirehouse: #da363380;
  --trCream: rgb(248 237 230 / 85%);

  --neonPink: #ff83a2;

  --lightText: rgb(255, 232, 217);
  --darkText: #231f20;

  --shadow: #39161096;
  --cardShadow: 0 4px 6px #47182478;
}

html {
  background: var(--gold);
}

html, body, #root, .app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100svh;
  font-family: Jost;
  font-size: 2vmin;

  color: var(--coal);
}

.app {
  justify-content: flex-start !important;
}

.main {
  margin: 2vh;
  width: 100%;
  height: calc(100vh - 4vh);
  overflow: auto;
}

.projects {
  width: 100%;
  height: 100%;
  overflow: overlay;
  justify-content: space-evenly !important;
  align-items: center !important;
}

.projects::-webkit-scrollbar {
  height: 8px;
}

.projectCard {
  padding: 12px;
  width: 100%;
  border-radius: 32px;
  max-width: 20%;
  overflow: hidden;
  flex: none;
  background-color: transparent;
  transition: background-color 0.5s, color 0.2s;
}

@media (min-width: 1000px) {
  .projectCard:hover {
    cursor: pointer;
    background-color: var(--leaf);
    color: var(--darkText);
  }
}

.projectImage {
  width: 100%;
  border: 2px solid black;
  box-sizing: border-box;
  border-radius: 24px;
  margin-bottom: 12px;
}

.projectInfo {
  height: 100%;
  text-align: center;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .projects {
    justify-content: space-between !important;
  }

  .projectCard {
    max-width: unset;
  }

  .projectImage {
    width: 80%;
  }
}

.full {
  width: 100%;
  height: 100%;
}

.bgImage {
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

h1, h2, h3 {
  margin: 0;
}

.v {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

.h {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
}

.portrait {
  margin: 0;
  margin-left: 2vh;
  margin-right: 2vh;
  max-width: calc(100% - 4vh);
  height: calc(100% - 180px - 2vh);
  font-size: 1.8vh;
}

.phone {
  margin: 0;
  max-width: 100%;
  padding: 0;
  padding-top: 1vh;
  border-radius: 0;
  font-size: 4vmin;
  height: calc(100% - 32px - 1vh);
}

.notSupported {
  width: 80vw;
  height: 80vh;
  font-size: 3vh;
  text-align: center;
  justify-content: space-between;
}

.img {
  aspect-ratio: 1.25/1 auto;
  object-fit: cover;
  border: 2px solid var(--darkText);
  border-radius: 12px;
  box-shadow: var(--cardShadow);
}

/* --- */

.backButton {
  user-select: none;
  padding: 1vh;
  box-sizing: border-box;
  min-height: 48px;
  color: var(--salmon);
}

.alert {
  z-index: 11;
  position: absolute;
  bottom: 10vh;
  min-width: 200px;
  width: max-content;
  padding: 1vh;
  border-radius: 25px;
  border: 2px solid var(--darkText);
  box-shadow: 0 2px 3px var(--shadow);
  background-color: var(--cream);
}

.visible {
  visibility: visible;
  position: unset;
  opacity: 1;
}

.hidden {
  visibility: hidden;
  position: absolute;
  opacity: 0;
}

.icon {
  transition: color 0.5s;
}

.icon:hover {
  cursor: pointer;
  color: var(--firehouse);

  transition: color 0.1s;
}

.icon:active {
  color: var(--sky);
  transition: color 0s;
}

.active {
  color: #f5e0d4;
}

/* */

::-webkit-scrollbar {
  background: var(--coffee);
  border-style: none;
  width: 0.4vw;
  min-width: 6px;

  height: 98%;
}

::-webkit-scrollbar-thumb {
  background-color: var(--salmon);
}