.tile {
  position: relative;
  width: 100%;
  font-size: 2vh;
  padding: 1vw;
}

.tileFloat {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.tileLeft, .tileCenter, .tileRight, .slide {
  position: relative;
  height: 100%;
  width: 100%;
  justify-content: center;
  box-sizing: border-box;
  padding: 1vw;
}

.help {
  height: 100%;
}